<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.Employee">
    <id column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="employee_name" jdbcType="VARCHAR" property="employeeName" />
    <result column="gender" jdbcType="TINYINT" property="gender" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="marital_status" jdbcType="INTEGER" property="maritalStatus" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="enter_date" jdbcType="DATE" property="enterDate" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="the_nearest_station" jdbcType="VARCHAR" property="theNearestStation" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="working_years" jdbcType="TINYINT" property="workingYears" />
    <result column="skill1" jdbcType="INTEGER" property="skill1" />
    <result column="skill1_years" jdbcType="TINYINT" property="skill1Years" />
    <result column="skill2" jdbcType="INTEGER" property="skill2" />
    <result column="skill2_years" jdbcType="TINYINT" property="skill2Years" />
    <result column="skill3" jdbcType="INTEGER" property="skill3" />
    <result column="skill3_years" jdbcType="TINYINT" property="skill3Years" />
    <result column="skill_score" jdbcType="TINYINT" property="skillScore" />
    <result column="skill_level" jdbcType="INTEGER" property="skillLevel" />
    <result column="japanese_level" jdbcType="INTEGER" property="japaneseLevel" />
    <result column="salary" jdbcType="INTEGER" property="salary" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="branch_bank" jdbcType="VARCHAR" property="branchBank" />
    <result column="bank_number" jdbcType="VARCHAR" property="bankNumber" />
    <result column="bank_desc" jdbcType="VARCHAR" property="bankDesc" />
    <result column="domestic_address" jdbcType="VARCHAR" property="domesticAddress" />
    <result column="family_support" jdbcType="TINYINT" property="familySupport" />
    <result column="contract_format" jdbcType="INTEGER" property="contractFormat" />
    <result column="employment_insurance" jdbcType="BIT" property="employmentInsurance" />
    <result column="annuity" jdbcType="BIT" property="annuity" />
    <result column="health_insurance" jdbcType="BIT" property="healthInsurance" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="skill_analysis" jdbcType="LONGVARCHAR" property="skillAnalysis" />
    <result column="skill_growth" jdbcType="LONGVARCHAR" property="skillGrowth" />
  </resultMap>
  <!-- 所有用到的参数 -->
    <sql id="column">
  	  employee_name,position,age,address,
      the_nearest_station,telephone,working_years,
      skill1,skill2,skill3,skill_score,skill_analysis,
      skill_growth,bank_name,branch_bank,bank_number,
      bank_desc,domestic_address,family_support,
  	  contract_format,employment_insurance,annuity,
      health_insurance,
      japanese_level,skill_level,create_time
  </sql>
  <!-- company_id来自表sys_company的外键,不可修改 -->
  <insert id="insert" parameterType="com.our.oa.entity.Employee">
  insert into oasys.t_employee(
  <include refid="column"/>
  )
    values( #{employeeName,jdbcType=VARCHAR},#{position,jdbcType=INTEGER}, #{age,jdbcType=TINYINT},
   #{address,jdbcType=VARCHAR},#{theNearestStation,jdbcType=VARCHAR},#{telephone,jdbcType=VARCHAR},
    #{workingYears,jdbcType=TINYINT}, #{skill1,jdbcType=INTEGER}, #{skill2,jdbcType=INTEGER}, #{skill3,jdbcType=INTEGER},
    #{skillScore,jdbcType=TINYINT},#{skillAnalysis,jdbcType=LONGVARCHAR},#{skillGrowth,jdbcType=LONGVARCHAR},
    #{bankName,jdbcType=VARCHAR},#{branchBank,jdbcType=VARCHAR},
    #{bankNumber,jdbcType=VARCHAR},#{bankDesc,jdbcType=VARCHAR},#{domesticAddress,jdbcType=VARCHAR},
    #{familySupport,jdbcType=TINYINT}, #{contractFormat,jdbcType=INTEGER},
    #{employmentInsurance,jdbcType=BIT},#{annuity,jdbcType=BIT},#{healthInsurance,jdbcType=BIT},
   #{japaneseLevel,jdbcType=INTEGER},#{skillLevel,jdbcType=INTEGER},now())
  </insert>
  <select id="findNowId" resultType="int">
   select  LAST_INSERT_ID()
  </select>
  <select id="selectQueryList" parameterType="com.our.oa.dto.list.EmployeeListQueryDTO" resultMap="BaseResultMap">
    select <include refid="column"/>
    from t_employee
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select <include refid="column"/>
    from oasys.t_employee
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
  	delete from oasys.t_employee
    <where>
     employee_id = #{employeeId,jdbcType=INTEGER}
    </where>
  </delete>
</mapper>