<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.EmployeeSiteMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.EmployeeSite">
    <id column="employee_site_id" jdbcType="INTEGER" property="employeeSiteId" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="expect_enter_date" jdbcType="DATE" property="expectEnterDate" />
    <result column="enter_date" jdbcType="DATE" property="enterDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="sales_staff" jdbcType="VARCHAR" property="salesStaff" />
    <result column="sales_contact" jdbcType="VARCHAR" property="salesContact" />
    <result column="sales_email" jdbcType="VARCHAR" property="salesEmail" />
    <result column="office_clerk" jdbcType="VARCHAR" property="officeClerk" />
    <result column="office_email" jdbcType="VARCHAR" property="officeEmail" />
    <result column="settlement_range" jdbcType="VARCHAR" property="settlementRange" />
    <result column="unit_price" jdbcType="INTEGER" property="unitPrice" />
    <result column="is_need_sales_staff" jdbcType="BIT" property="isNeedSalesStaff" />
    <result column="purchase_order_file" jdbcType="VARCHAR" property="purchaseOrderFile" />
    <result column="invoice_file" jdbcType="VARCHAR" property="invoiceFile" />
    <result column="payment_site" jdbcType="VARCHAR" property="paymentSite" />
    <result column="head_office_clerk" jdbcType="VARCHAR" property="headOfficeClerk" />
    <result column="enter_handler" jdbcType="INTEGER" property="enterHandler" />
    <result column="is_end" jdbcType="BIT" property="isEnd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="enter_record" jdbcType="LONGVARCHAR" property="enterRecord" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
  <sql id="column">
   	  project_id,sales_staff,sales_contact,
      sales_email,office_clerk,office_email,unit_price,settlement_range,
      invoice_file,payment_site,head_office_clerk,
      description,enter_record,is_need_sales_staff,purchase_order_file,employee_id
  </sql>
  <insert id="insert" parameterType="com.our.oa.entity.EmployeeSite">
  insert into oasys.t_employee_site (<include refid="column"/>)
  values(#{projectId,jdbcType=INTEGER}, #{salesStaff,jdbcType=VARCHAR},
  		#{salesContact,jdbcType=VARCHAR}, #{salesEmail,jdbcType=VARCHAR},#{officeClerk,jdbcType=VARCHAR},
  		 #{officeEmail,jdbcType=VARCHAR}, #{unitPrice,jdbcType=INTEGER},#{settlementRange,jdbcType=VARCHAR},
  		 #{invoiceFile,jdbcType=VARCHAR},#{paymentSite,jdbcType=VARCHAR},#{headOfficeClerk,jdbcType=VARCHAR},
  		#{description,jdbcType=LONGVARCHAR}, #{enterRecord,jdbcType=LONGVARCHAR},#{isNeedSalesStaff,jdbcType=BIT},
  		#{purchaseOrderFile,jdbcType=VARCHAR},#{employeeId,jdbcType=INTEGER})
  </insert>
  <sql id="queryWhereName">
     <where><!-- mybatis 中的动态sql -->
      <if test="employee_site_id!=null and employee_site_id!=''">
       employee_site_id like concat("%",#{employee_site_id},"%")
      </if>
     </where>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   select <include refid="column"/>
    from oasys.t_employee_site
    where employee_id = #{employeeId,jdbcType=INTEGER}
  </select>
<!--   <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
  	delete from oasys.t_employee_site
    <where>
     employee_id = #{employeeId,jdbcType=INTEGER}
    </where>
  </delete> -->
  <update id="updateByEmployeeId" parameterType="com.our.oa.entity.EmployeeSite">
    update oasys.t_employee_site
    <set>
     <if test="projectId!=null and projectId!=''">
      project_id = #{projectId,jdbcType=INTEGER},
     </if> 
     <if test="expectEnterDate!=null and expectEnterDate!=''"> 
      expect_enter_date = #{expectEnterDate,jdbcType=DATE},
     </if> 
     <if test="enterDate!=null and enterDate!=''"> 
      enter_date = #{enterDate,jdbcType=DATE},
     </if> 
     <if test="endDate!=null and endDate!=''">
      end_date = #{endDate,jdbcType=DATE},
     </if> 
     <if test="salesStaff!=null and salesStaff!=''"> 
      sales_staff = #{salesStaff,jdbcType=VARCHAR},
     </if> 
     <if test="salesContact!=null and salesContact!=''"> 
      sales_contact = #{salesContact,jdbcType=VARCHAR},
     </if> 
     <if test="salesEmail!=null and salesEmail!=''"> 
      sales_email = #{salesEmail,jdbcType=VARCHAR},
     </if> 
     <if test="officeClerk!=null and officeClerk!=''"> 
      office_clerk = #{officeClerk,jdbcType=VARCHAR},
     </if> 
     <if test="officeEmail!=null and officeEmail!=''"> 
      office_email = #{officeEmail,jdbcType=VARCHAR},
     </if> 
     <if test="settlementRange!=null and settlementRange!=''"> 
      settlement_range = #{settlementRange,jdbcType=VARCHAR},
     </if> 
     <if test="unitPrice!=null and unitPrice!=''"> 
      unit_price = #{unitPrice,jdbcType=INTEGER},
     </if> 
     <if test="isNeedSalesStaff!=null and isNeedSalesStaff!=''"> 
      is_need_sales_staff = #{isNeedSalesStaff,jdbcType=BIT},
     </if> 
     <if test="purchaseOrderFile!=null and purchaseOrderFile!=''"> 
      purchase_order_file = #{purchaseOrderFile,jdbcType=VARCHAR},
     </if> 
     <if test="invoiceFile!=null and invoiceFile!=''"> 
      invoice_file = #{invoiceFile,jdbcType=VARCHAR},
     </if> 
     <if test="paymentSite!=null and paymentSite!=''"> 
      payment_site = #{paymentSite,jdbcType=VARCHAR},
     </if> 
     <if test="headOfficeClerk!=null and headOfficeClerk!=''"> 
      head_office_clerk = #{headOfficeClerk,jdbcType=VARCHAR},
     </if> 
     <if test="enterHandler!=null and enterHandler!=''"> 
      enter_handler = #{enterHandler,jdbcType=INTEGER},
     </if> 
     <if test="isEnd!=null and isEnd!=''"> 
      is_end = #{isEnd,jdbcType=BIT},
     </if> 
     <if test="createTime!=null and createTime!=''"> 
      create_time = #{createTime,jdbcType=TIMESTAMP},
     </if> 
     <if test="updateTime!=null and updateTime!=''"> 
      update_time = #{now(),jdbcType=TIMESTAMP},
     </if> 
     <if test="deleteTime!=null and deleteTime!=''"> 
      delete_time = #{deleteTime,jdbcType=TIMESTAMP},
     </if> 
     <if test="deleteFlag!=null and deleteFlag!=''"> 
      delete_flag = #{deleteFlag,jdbcType=BIT},
     </if> 
     <if test="enterRecord!=null and enterRecord!=''"> 
      enter_record = #{enterRecord,jdbcType=LONGVARCHAR},
     </if> 
     <if test="description!=null and description!=''"> 
      description = #{description,jdbcType=LONGVARCHAR}
     </if> 
    </set>
    <where> 
     employee_id = #{employeeId,jdbcType=INTEGER}
    </where>
  </update>
</mapper>