<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.InterviewerMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.Interviewer">
    <id column="interviewer_id" jdbcType="INTEGER" property="interviewerId" />
    <result column="interviewer_code" jdbcType="VARCHAR" property="interviewerCode" />
    <result column="interviewer_name" jdbcType="VARCHAR" property="interviewerName" />
    <result column="interview_result" jdbcType="TINYINT" property="interviewResult" />
    <result column="interview1_time" jdbcType="DATE" property="interview1Time" />
    <result column="interview1_result" jdbcType="INTEGER" property="interview1Result" />
    <result column="interview1_handler" jdbcType="VARCHAR" property="interview1Handler" />
    <result column="gender" jdbcType="BIT" property="gender" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="japanese_socre" jdbcType="INTEGER" property="japaneseSocre" />
    <result column="graduated_school" jdbcType="VARCHAR" property="graduatedSchool" />
    <result column="profession" jdbcType="VARCHAR" property="profession" />
    <result column="graduated_date" jdbcType="DATE" property="graduatedDate" />
    <result column="education" jdbcType="INTEGER" property="education" />
    <result column="certificate" jdbcType="VARCHAR" property="certificate" />
    <result column="manner" jdbcType="TINYINT" property="manner" />
    <result column="family_situation" jdbcType="VARCHAR" property="familySituation" />
    <result column="service_situation" jdbcType="INTEGER" property="serviceSituation" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="birthplace" jdbcType="VARCHAR" property="birthplace" />
    <result column="marital_status" jdbcType="INTEGER" property="maritalStatus" />
    <result column="expect_salary" jdbcType="INTEGER" property="expectSalary" />
    <result column="friendship_situation_in_japan" jdbcType="VARCHAR" property="friendshipSituationInJapan" />
    <result column="interview2_time" jdbcType="DATE" property="interview2Time" />
    <result column="interview2_result" jdbcType="TINYINT" property="interview2Result" />
    <result column="interview2_handler" jdbcType="VARCHAR" property="interview2Handler" />
    <result column="internship_experience" jdbcType="VARCHAR" property="internshipExperience" />
    <result column="skill_score" jdbcType="INTEGER" property="skillScore" />
    <result column="interview3_time" jdbcType="DATE" property="interview3Time" />
    <result column="interview3_result" jdbcType="TINYINT" property="interview3Result" />
    <result column="interview3_handler" jdbcType="VARCHAR" property="interview3Handler" />
    <result column="prev1_company_name" jdbcType="VARCHAR" property="prev1CompanyName" />
    <result column="prev2_company_name" jdbcType="VARCHAR" property="prev2CompanyName" />
    <result column="prev3_company_name" jdbcType="VARCHAR" property="prev3CompanyName" />
    <result column="prev4_company_name" jdbcType="VARCHAR" property="prev4CompanyName" />
    <result column="prev5_company_name" jdbcType="VARCHAR" property="prev5CompanyName" />
    <result column="work_intent" jdbcType="INTEGER" property="workIntent" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="delete_time" jdbcType="DATE" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="japanese_conversation_ability" jdbcType="LONGVARCHAR" property="japaneseConversationAbility" />
    <result column="personnel_dept_feedback" jdbcType="LONGVARCHAR" property="personnelDeptFeedback" />
    <result column="interview1_desc" jdbcType="LONGVARCHAR" property="interview1Desc" />
    <result column="personal_situation" jdbcType="LONGVARCHAR" property="personalSituation" />
    <result column="working_situation" jdbcType="LONGVARCHAR" property="workingSituation" />
    <result column="interview2_desc" jdbcType="LONGVARCHAR" property="interview2Desc" />
    <result column="technical_department_feedback" jdbcType="LONGVARCHAR" property="technicalDepartmentFeedback" />
    <result column="interview3_desc" jdbcType="LONGVARCHAR" property="interview3Desc" />
  </resultMap>
  
  <select id="getInterviewerBySearch" parameterType="com.our.oa.dto.list.InterviewerListQueryDTO" resultMap="BaseResultMap">
  	select interviewer_id, interviewer_code, interviewer_name, interview_result from t_interviewer
  		where interviewer_name=#{interviewerName}
  </select>
  
  <insert id="addInfoCommit" parameterType="com.our.oa.entity.Interviewer">
    insert into t_interviewer (interviewer_code, interviewer_name, 
      interview_result, <if test="interview1Time != ''">interview1_time,</if> 
      interview1_result,  interview1_handler, 
      gender, age, 
      city, japanese_socre, 
      graduated_school, profession, 
      <if test="graduatedDate != ''">graduated_date,</if> education, 
      certificate, manner, 
      family_situation, service_situation, 
      nationality, birthplace, 
      marital_status, expect_salary, 
      friendship_situation_in_japan, 
      <if test="interview2Time != ''">interview2_time,</if> interview2_result, 
      interview2_handler, internship_experience, skill_score, 
      <if test="interview3Time != ''">interview3_time,</if> 
      interview3_result, interview3_handler, 
      prev1_company_name, prev2_company_name, 
      prev3_company_name, prev4_company_name, 
      prev5_company_name, work_intent, 
      company_id, create_time, 
      delete_flag, japanese_conversation_ability, 
      personnel_dept_feedback, 
      interview1_desc, personal_situation, 
      working_situation, interview2_desc, 
      technical_department_feedback, interview3_desc)
    values (#{interviewerCode}, #{interviewerName}, 
      #{interviewResult}, <if test="interview1Time != ''">#{interview1Time},</if>
      #{interview1Result}, #{interview1Handler}, 
      #{gender}, #{age},
      #{city}, #{japaneseSocre},
      #{graduatedSchool}, #{profession}, 
      <if test="graduatedDate != ''">#{graduatedDate}, </if> #{education},
      #{certificate}, #{manner}, 
      #{familySituation}, #{serviceSituation}, 
      #{nationality}, #{birthplace}, 
      #{maritalStatus}, #{expectSalary}, 
      #{friendshipSituationInJapan}, 
      <if test="interview2Time != ''">#{interview2Time}, </if> #{interview2Result}, 
      #{interview2Handler},#{internshipExperience},
      #{skillScore}, <if test="interview3Time != ''">#{interview3Time},
      </if>#{interview3Result}, #{interview3Handler}, 
      #{prev1CompanyName}, #{prev2CompanyName}, 
      #{prev3CompanyName}, #{prev4CompanyName},
      #{prev5CompanyName}, #{workIntent}, 
      #{companyId},#{createTime}, 
      #{deleteFlag}, #{japaneseConversationAbility},
      #{personnelDeptFeedback}, #{interview1Desc},
      #{personalSituation}, #{workingSituation}, 
      #{interview2Desc}, #{technicalDepartmentFeedback},
      #{interview3Desc})
  </insert>
  
  <select id="getCompanyIdAndName" resultMap="companyIdAndName">
  	select company_id,company_name from sys_company
  </select>
  
  <resultMap type="com.our.oa.entity.Company" id="companyIdAndName">
  	<id column="company_id" property="companyId"/>
  	<result column="company_name" property="companyName"/>
  </resultMap>
  
  <select id="getAllInterviewers" resultMap="BaseResultMap">
  	select interviewer_id, interviewer_code, interviewer_name, interview_result from t_interviewer
  </select>
  
  <select id="checkCode" parameterType="STRING" resultType="com.our.oa.entity.Interviewer">
  	select * from t_interviewer where interviewer_code=#{code}
  </select>
  
  <select id="getDetailInfoById" parameterType="INTEGER" resultMap="BaseResultMap">
  	select * from t_interviewer where interviewer_id=#{interviewerId}
  </select>
  
  <update id="updateInfoDo" parameterType="com.our.oa.entity.Interviewer">
  	update t_interviewer
    set 
      interviewer_name = #{interviewerName},
      interview_result = #{interviewResult},
      <if test="interview1Time != ''">interview1_time = #{interview1Time},</if>
      interview1_result = #{interview1Result},
      interview1_handler = #{interview1Handler},
      gender = #{gender},
      age = #{age},
      city = #{city},
      japanese_socre = #{japaneseSocre},
      graduated_school = #{graduatedSchool},
      profession = #{profession},
      graduated_date = #{graduatedDate},
      education = #{education},
      certificate = #{certificate},
      manner = #{manner},
      family_situation = #{familySituation},
      service_situation = #{serviceSituation},
      nationality = #{nationality},
      birthplace = #{birthplace},
      marital_status = #{maritalStatus},
      expect_salary = #{expectSalary},
      friendship_situation_in_japan = #{friendshipSituationInJapan},
      <if test="interview2Time != ''">interview2_time = #{interview2Time},</if>
      interview2_result = #{interview2Result},
      interview2_handler = #{interview2Handler},
      internship_experience = #{internshipExperience},
      skill_score = #{skillScore},
      <if test="interview3Time != ''">interview3_time = #{interview3Time},</if>
      interview3_result = #{interview3Result},
      interview3_handler = #{interview3Handler},
      prev1_company_name = #{prev1CompanyName},
      prev2_company_name = #{prev2CompanyName},
      prev3_company_name = #{prev3CompanyName},
      prev4_company_name = #{prev4CompanyName},
      prev5_company_name = #{prev5CompanyName},
      work_intent = #{workIntent},
      company_id = #{companyId},
      update_time = #{updateTime},
      delete_flag = #{deleteFlag},
      japanese_conversation_ability = #{japaneseConversationAbility},
      personnel_dept_feedback = #{personnelDeptFeedback},
      interview1_desc = #{interview1Desc},
      personal_situation = #{personalSituation},
      working_situation = #{workingSituation},
      interview2_desc = #{interview2Desc},
      technical_department_feedback = #{technicalDepartmentFeedback},
      interview3_desc = #{interview3Desc}
    where interviewer_id = #{interviewerId}
  </update>
  
  <insert id="addResumeDo" parameterType="com.our.oa.entity.InterviewerResume">
  	insert into interviewer_resume(interviewer_id, resume_title
  	  resume_file, create_time
  	  ) values(#{interviewerId}, #{resumeTitle}, 
  	  #{resumeFile}, #{createTime},
  	  )
  </insert>
  
  <select id="getInterviewerByInterviewerCode" parameterType="STRING" resultMap="BaseResultMap">
  	select * from t_interviewer where interviewer_code=#{interviewerCode}
  </select>
  
  <!-- 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    interviewer_id, interviewer_code, 
    interviewer_name, interview_result, 
    interview1_time, interview1_result, 
    interview1_handler, gender, 
    age, city, 
    japanese_socre, graduated_school, 
    profession, graduated_date, 
    education, certificate, 
    manner, family_situation, 
    service_situation, nationality, 
    birthplace, marital_status, 
    expect_salary, friendship_situation_in_japan, 
    interview2_time, interview2_result, 
    interview2_handler, internship_experience, 
    skill_score, interview3_time, 
    interview3_result, interview3_handler, 
    prev1_company_name, prev2_company_name, 
    prev3_company_name, prev4_company_name, 
    prev5_company_name, work_intent, 
    company_id, create_time, 
    update_time, delete_time, 
    delete_flag, japanese_conversation_ability, 
    personnel_dept_feedback, interview1_desc, 
    personal_situation, working_situation, 
    interview2_desc, technical_department_feedback, 
    interview3_desc
    from t_interviewer
    where interviewer_id = #{interviewerId}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap">
    select interviewer_id, interviewer_code, interviewer_name, interview_result, interview1_time, 
    interview1_result, interview1_handler, gender, age, city, japanese_socre, graduated_school, 
    profession, graduated_date, education, certificate, manner, family_situation, service_situation, 
    nationality, birthplace, marital_status, expect_salary, friendship_situation_in_japan, 
    interview2_time, interview2_result, interview2_handler, internship_experience, skill_score, 
    interview3_time, interview3_result, interview3_handler, prev1_company_name, prev2_company_name, 
    prev3_company_name, prev4_company_name, prev5_company_name, work_intent, company_id, 
    create_time, update_time, delete_time, delete_flag, japanese_conversation_ability, 
    personnel_dept_feedback, interview1_desc, personal_situation, working_situation, 
    interview2_desc, technical_department_feedback, interview3_desc
    from t_interviewer
  </select> -->
  
</mapper>