<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.MailingCustomerMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.MailingCustomer">
    <result column="mailing_id" jdbcType="INTEGER" property="mailingId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="send_result" jdbcType="BIT" property="sendResult" />
    <result column="send_MailAddress" jdbcType="VARCHAR" property="sendMailAddress" />
    <result column="send_CustomerName" jdbcType="VARCHAR" property="sendCustomerName" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    
  </resultMap>
  <insert id="insert" parameterType="com.our.oa.entity.MailingCustomer">
    insert into t_mailing_customer (mailing_id, customer_id, send_time, 
      send_result,send_MailAddress,send_CustomerName,customer_name)
    values (#{mailingId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{sendTime,jdbcType=TIMESTAMP},
    	#{sendResult,jdbcType=BIT},#{sendMailAddress,jdbcType=VARCHAR}, #{sendCustomerName,jdbcType=VARCHAR},
    	#{customerName,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select mailing_id, customer_id, send_time, send_result, send_MailAddress, send_CustomerName
    from oa..t_mailing_customer
  </select>
  <select id="selectByMailingId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select mailing_id, customer_id, send_time, send_result, send_MailAddress, send_CustomerName,customer_name
    from t_mailing_customer  where mailing_id = #{mailing_id,jdbcType=INTEGER}
  </select>
</mapper>