<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="settlement_range" jdbcType="VARCHAR" property="settlementRange" />
    <result column="site_address" jdbcType="VARCHAR" property="siteAddress" />
    <result column="pay_deadline" jdbcType="VARCHAR" property="payDeadline" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
    <result column="project_desc" jdbcType="LONGVARCHAR" property="projectDesc" />
  </resultMap>
  <insert id="insert" parameterType="com.our.oa.entity.Project">
    insert into oasys.t_project ( project_name, project_desc)
    values ( #{projectName,jdbcType=VARCHAR}, #{projectDesc,jdbcType=LONGVARCHAR})
  </insert>
</mapper>