<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.SalesRecordMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.SalesRecord">
    <id column="sales_record_id" jdbcType="INTEGER" property="salesRecordId" />
    <result column="sales_id" jdbcType="INTEGER" property="salesId" />
    <result column="sales_handler" jdbcType="INTEGER" property="salesHandler" />
    <result column="interview_date" jdbcType="DATE" property="interviewDate" />
    <result column="interview_time" jdbcType="TIME" property="interviewTime" />
    <result column="priority" jdbcType="TINYINT" property="priority" />
    <result column="interview_address" jdbcType="VARCHAR" property="interviewAddress" />
    <result column="interview_frequency" jdbcType="INTEGER" property="interviewFrequency" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="enter_date" jdbcType="DATE" property="enterDate" />
    <result column="notice1" jdbcType="VARCHAR" property="notice1" />
    <result column="notice2" jdbcType="VARCHAR" property="notice2" />
    <result column="is_done" jdbcType="BIT" property="isDone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
 <!--  <insert id="insert" parameterType="com.our.oa.dto.form.SalesRecordDTO">
    insert into oasys.t_sales_record (sales_record_id, sales_id, 
    sales_handler,
      interview_date, interview_time, priority, 
      interview_address, interview_frequency, project_id, 
      enter_date, notice1, notice2, 
      is_done, create_time, update_time, 
      delete_time, delete_flag)
    values (#{salesRecordId,jdbcType=INTEGER},
     #{salesId,jdbcType=INTEGER},
      <if test="salesHandlers !=null ">
	      and employee_id in
	    <foreach collection="employeeIds" 
	    item="salesHandler" open="(" close=")" separator=",">
	    ${salesHandler}
	    </foreach>
	   </if>
      #{salesHandler,jdbcType=INTEGER}, 
      #{interviewDate,jdbcType=DATE}, #{interviewTime,jdbcType=TIME}, #{priority,jdbcType=TINYINT}, 
      #{interviewAddress,jdbcType=VARCHAR}, #{interviewFrequency,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, 
      #{enterDate,jdbcType=DATE}, #{notice1,jdbcType=VARCHAR}, #{notice2,jdbcType=VARCHAR}, 
      #{isDone,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT})
  </insert> -->
  <insert id="insert" parameterType="com.our.oa.entity.SalesRecord">
    insert into oasys.t_sales_record (
    sales_handler,interview_date,interview_time,interview_address, 
    notice1, notice2
    
    , create_time
     )
    values (
	    #{salesHandler},#{interviewDate},#{interviewTime},#{interviewAddress,jdbcType=VARCHAR}, 
	    #{notice1,jdbcType=VARCHAR}, #{notice2,jdbcType=VARCHAR}
	    
	    ,now()
     )
  </insert>

</mapper>