<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.our.oa.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.our.oa.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="error_number" jdbcType="INTEGER" property="errorNumber" />
    <result column="email_verification_code" jdbcType="VARCHAR" property="emailVerificationCode" />
    <result column="verification_code_send_time" jdbcType="TIMESTAMP" property="verificationCodeSendTime" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="delete_flag" jdbcType="BIT" property="deleteFlag" />
  </resultMap>
  <sql id="column">
  	  user_id, user_name, user_pwd, 
      email, login_time, error_number, 
      email_verification_code, verification_code_send_time, 
      employee_id, create_time, update_time, 
      delete_time, delete_flag
  </sql>
  <select id="queryByUserName" resultType="com.our.oa.entity.User">
  	select 
  	  <include refid="column"/>
  from oasys.sys_user
  where user_name like Concat('%',#{searchValue},'%') 
  </select>
  <select id="selectQueryList" parameterType="com.our.oa.dto.list.UserListQueryDTO" resultMap="BaseResultMap">
    select <include refid="column"/>
    from oasys.sys_user
	  <where>
	    delete_flag = 0 
	    <if test="createTime !=null and createTime !=''">
	      and create_time like Concat('%',#{createTime},'%') 
	    </if>
	  </where>
  </select>
  <insert id="insert" parameterType="com.our.oa.dto.form.UserDTO" >
  insert into 
  sys_user (user_name,user_pwd,email,create_time,delete_flag)
  values 
  	 (#{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
  	 now(),false);
  </insert>
  <select id="checkByUserName" resultType="int">
   select count(user_name) from oasys.sys_user where user_name = #{userName,jdbcType=VARCHAR} 
  </select>
</mapper>