<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>home</title>
</head>
<body>

<div style="background:#0066CC;text-align:center;color:#FFFFFF;"  id="tagline">
<h1>公告</h1>
此处可修改
</div>
<div>
<a href="#">账号与权限设置(暂不可用)</a></br>
<a href="http://localhost:8080/hr/hrIndex">HR管理</a></br>
<a href="http://localhost:8080/emp/list">人员管理</a></br>
<a href="#">客户管理(暂不可用)</a></br>
<a href="#">邮件群发(暂不可用)</a></br>
<a href="#">营业管理(暂不可用)</a></br>
<a href="#">文档管理(暂不可用)</a></br>
<a href="http://localhost:8080/epst/epstIndex">学习管理进度</a></br>
<a href="#">系统配置(暂不可用)</a></br>
</div>
</body>
</html>