<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>home</title>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/ui.jqgrid.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.8.16.custom.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jqGrid.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/i18n/grid.locale-ja.js}"></script>
</head>
<body>

<div style="background:#009650;text-align:center;color:#FFFFFF;"  id="tagline">
<h1>公告</h1>
此处可修改
</div>
<div>
<a class="layui-btn" href="#">账号与权限设置(暂不可用)</a></br>
<a class="layui-btn" th:href="@{/coustor/}">HR管理</a></br>
<a class="layui-btn" th:href="@{/emp/list}">人员管理</a></br>
<a class="layui-btn" th:href="@{/customer/list}">客户管理</a></br>
<a class="layui-btn" href="http://localhost:8080/hr/hrIndex">HR管理</a></br>
<a class="layui-btn" href="http://localhost:8080/emp/list">人员管理</a></br>
<a class="layui-btn" href="http://localhost:8080/customer/list">客户管理</a></br>
<a class="layui-btn" href="#">邮件群发(暂不可用)</a></br>
<a class="layui-btn" href="#">营业管理(暂不可用)</a></br>
<a class="layui-btn" href="#">文档管理(暂不可用)</a></br>
<a class="layui-btn" th:href="@{/epst/epstIndex}">学习管理进度</a></br>
<a class="layui-btn" href="#">系统配置(暂不可用)</a></br>
</div>
</body>
</html>