<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>delete test</title>
</head>
<body>
<form id="erportUserInfoForm"  class="form-horizontal bv-form">
<table>
			<tr>
				<td>名前:</td><td><input type="text" placeholder="姓名" name="employeeName"   ></td>
			</tr>
			<tr>
				<td>職位:</td><td><input type="text" placeholder="职称" name="position" ></td>
			</tr>
			<tr>
				<td>年齢:</td><td><input type="text" placeholder="年龄(最多两位数)" name="age" oninput="if(value>99)value=99;if(value.length>2)value=value.slice(0,2);if(value<0)value=0"></td>
			</tr>
			<tr>
				<td>住所:</td><td><input type="text" placeholder="地址" name="address"  ></td>
			</tr>
			</table> 
   <div class="btn-box">
      <input type="submit" onclick="save()" value="上传" />
      <input type="button" value="取消" data-dismiss="modal"/>
      
     
  </div>
             
</form>
<script type="text/javascript">
 
function save(){
     debugger
    $.ajax({
        url:"http://localhost:8080/emp/",
        type:"post",
        async: true,
        dataType:"json",
        data:{id:"7,8,9"},
        success:function(data){}
         
    });
}
</script>
</body>
</html>