<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>emp-manage</title>
</head>

<body>
<div  style="width:100%;text-align:center">
	<form class="form-empl" id="addEmp" th:action="@{/emp/update/}+${id}" method="POST" >
		<table >
			<tr>
				<td>名前:</td><td><input type="text" th:field="${employee.employeeName}" name="employeeName" ></td>
			</tr>
			<!-- <tr>
				<td>所属（本社、BP）:</td><td><input type="text" placeholder="所属" name="companyId"    ></td>
			</tr> -->
			<tr>
				<td>職位:</td><td><input type="text" th:field="${employee.position}" name="position" ></td>
			</tr>
			<tr>
				<td>年齢:</td><td><input type="text" th:field="${employee.age}" name="age" oninput="if(value>99)value=99;if(value.length>2)value=value.slice(0,2);if(value<0)value=0"></td>
			</tr>
			<tr>
				<td>住所:</td><td><input type="text" th:field="${employee.address}" name="address"  ></td>
			</tr>
			<tr>
				<td>最寄り駅:</td><td><input type="text" th:field="${employee.theNearestStation}" name="theNearestStation"    ></td>
			</tr>
			<tr>
				<td>電話番号:</td><td><input type="text" th:field="${employee.telephone}"  name="telephone" maxlength="13" oninput="if(event.keyCode==8){return;}if(value.length==3||value.length==8){value+=' '}"/></td>
			</tr>
			<tr>
				<td>总经验年数:</td><td><input type="text" th:field="${employee.workingYears}" name="workingYears" oninput="if(value>50)value=50;if(value.length>2)value=value.slice(0,2);if(value<0)value=0" ></td>
			</tr>
			<tr>
				<td>技术经验1:</td><td>
					<input type="text" name="skill1"  list="skill" placeholder="查询经验年数">
						<datalist id="skill1Years">
                		 <option>从数据库查询</option>
            			</datalist>
				</td>
			</tr>
			<tr>
				<td>技术经验2:</td><td>
				<input type="text" name="skill2"  list="skill" placeholder="查询经验年数">
						<datalist id="skill2Years">
                		 <option>从数据库查询</option>
            			</datalist></td>
			</tr>
			<tr>
				<td>技术经验3:</td><td>
					<input type="text" name="skill3"  list="skill" placeholder="查询经验年数">
						<datalist id="skill3Years">
                		 <option>从数据库查询</option>
            			</datalist></td>
			</tr>
			<tr>
				<td>技术评星:</td><td><input type="text" th:field="${employee.skillScore}"  ></td>
			</tr>
			<tr>
				<td>技术分析:</td><td><input type="text" th:field="${employee.skillAnalysis}" name="skillAnalysis" ></td>
			</tr>
			<tr>
				<td>技术发展:</td><td><input type="text" th:field="${employee.skillGrowth}"  ></td>
			</tr>
			<tr>
				<td>口座銀行:</td><td><input type="text" name="bankName"  th:field="${employee.bankName}"></td>
			</tr>
			<tr>
				<td>口座支店:</td><td><input type="text" name="branchBank"  th:field="${employee.branchBank}"></td>
			</tr>
			<tr>
				<td>口座番号:</td><td><input type="text" name="bankNumber"  th:field="${employee.bankNumber}" ></td>
			</tr>
			<tr>
				<td>口座備考:</td><td><input type="text" name="bankDesc"  th:field="${employee.bankNumber}"></td>
			</tr>
			<tr>
				<td>国内住所:</td><td><input type="text" name="domesticAddress"  th:field="${employee.domesticAddress}"></td>
			</tr>
			<tr>
				<td>扶養家族人数:</td><td><input type="text" name="domesticAddress"  th:field="${employee.familySupport}"></td>
			</tr>
			<tr>
				<td>契約形式:</td><td><input type="text" name="contractFormat" th:field="${employee.contractFormat}" oninput="value=value.replace(/[^\d]/g,'')" ></td>
			</tr>
			<tr>
				<td>雇用保険加入:</td><td>
				<input type="radio" name="employmentInsurance"  value="1">
				<input type="radio" name="employmentInsurance"  value="2">
				</td>
			</tr>
			<tr>
				<td>年金加入:</td><td>
				<input type="radio" name="annuity" value="1">
				<input type="radio" name="annuity" value="2"></td>
			</tr>
			<tr>
				<td>健康保険加入:</td><td>
				<input type="radio" name="healthInsurance" >
				<input type="radio" name="healthInsurance" ></td>
			</tr>
	
			<!-- <tr>
				<td>入社日期:</td><td><input type="date" name="expectEnterDate"  ></td>
			</tr> -->
			<!-- <tr>
				<td>入場日期:</td><td><input type="date" name="enterDate"  ></td>
			</tr> -->
			<!-- <tr>
				<td>現場終了日期:</td><td><input type="date" name="endDate" ></td>
			</tr>	 -->	
			<!--  <tr>
				<td>場所:</td><td><input type="text" name="employeeSiteId"  th:field="${employeeSite.employeeSiteId}"></td>
			</tr>-->
			<!-- <tr>
				<td>お客様:</td><td><input type="text" name="projectId"  placeholder="哪位客户?"></td>
			</tr> -->
			<tr>
				<td>営業担当:</td><td><input type="text" name="salesStaff"  th:field="${employeeSite.salesStaff}"></td>
			</tr>
			<tr>
				<td>営業連絡先:</td><td><input type="text" name="salesContact" th:field="${employeeSite.salesContact}" maxlength="13" oninput="if(event.keyCode==8){return;}if(value.length==3||value.length==8){value+=' '}"></td>
			</tr>
			<tr>
				<td>営業メール:</td><td><input type="text" name="salesEmail" th:field="${employeeSite.salesEmail}" ></td>
			</tr>
			<tr>
				<td>事務担当:</td><td><input type="text" name="officeClerk" th:field="${employeeSite.officeClerk}" ></td>
			</tr>
			<tr>
				<td>事務メール:</td><td><input type="text" name="officeEmail" th:field="${employeeSite.officeEmail}" ></td>
			</tr>
			<tr>
				<td>精算範囲:</td><td><input type="text" name="settlementRange" th:field="${employeeSite.settlementRange}"  oninput="value=value.replace(/[^\d]/g,'')"></td>
			</tr>
		<!-- --------------------- -->	
			<tr>
				<td>単価:</td><td><input type="text" name="unitPrice"  th:field="${employeeSite.unitPrice}" oninput="value=value.replace(/[^\d]/g,'')"></td>
			</tr>
			<tr>
				<td>日本語レベル:</td><td><input type="text" name="unitPrice"  th:field="${employee.JapaneseLevel}" oninput="value=value.replace(/[^\d]/g,'')"></td>
			</tr>
			<tr>
				<td>技術レベル:</td><td><input type="text" name="skillLevel"  th:field="${employee.skillLevel}" oninput="value=value.replace(/[^\d]/g,'')"></td>
			</tr>
			<tr>
				<td>注文書（PDF/原本）:</td><td><input type="text" th:field="${employeeSite.purchaseOrderFile}" name="purchaseOrderFile"  ></td>
			</tr>
			<tr>
				<td>請求書（PDF/原本）:</td><td><input type="text" th:field="${employeeSite.invoiceFile}" name="invoiceFile"  ></td>
			</tr>
			<tr>
				<td>支払いサイト:</td><td><input type="text" th:field="${employeeSite.paymentSite}" name="paymentSite"  placeholder="现场支付"></td>
			</tr>
			<tr>
				<td>本社事務担当:</td><td><input type="text" name="headOfficeClerk" th:field="${employeeSite.headOfficeClerk}"></td>
			</tr>
			<tr>
				<td>備考:</td><td><input type="text" name="description"  th:field="${employeeSite.description}"></td>
			</tr>
			<!-- <tr>
				<td>现场入场日期:</td><td><input type="date" name="createTime"  ></td>
			</tr> -->
			<tr>
				<td>现场入场相关记录:</td><td><input type="text" name="enterRecord"  th:field="${employeeSite.enterRecord}"></td>
			</tr>
			<tr>
				<td>带入场担当:</td><td><input type="text" name=""  placeholder="担当什么职位吗?"></td>
			</tr>
			<tr>
				<td>是否需要营业:</td><td><input type="text" name="isNeedSalesStaff"  th:field="${employeeSite.isNeedSalesStaff}"></td>
			</tr>
			
		</table>
				<input type="submit" value="保存" style="width: 100px;">
				<input type="reset" value="重置" style="width: 100px;">
				<a id="btnBack" class="layui-btn layui-btn-normal" th:href="@{/emp/list}">返回</a>
	</form>
	<script type="text/javascript" th:inline="javascript"></script>　
</div>
</body>
 
	
</html>