<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>员工详细信息</title>

<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/layui.css}">

<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>

</head>
<body>
	<h1>客户信息编辑:</h1>

	<form >

		<table>
			<tr>
				<td>名前:</td>
		        <td><span th:text="*{employee.employeeName}"></span></td>
			</tr>
			<!-- <tr>
				<td>所属（本社、BP）:</td><td><span  placeholder="所属" name="companyId"    ></td>
			</tr> -->
			<tr>
				<td>職位:</td>
				<td><span  th:text="${employee.position}" ></span></td>
			</tr>
			<tr>
				<td>年齢:</td><td><span  th:text="${employee.age}" ></span></td>
			</tr>
			<tr>
				<td>住所:</td><td><span  th:text="${employee.address}"></span></td>
			</tr>
			<tr>
				<td>最寄り駅:</td><td><span  th:text="${employee.theNearestStation}"></span></td>
			</tr>
			<tr>
				<td>電話番号:</td><td><span  th:text="${employee.telephone}"  ></span></td>
			</tr>
			<tr>
				<td>总经验年数:</td><td><span  th:text="${employee.workingYears}" ></span></td>
			</tr>
			<tr>
				<td>技术经验1:</td><td><span  th:text="${employee.skill1Years}" ></span></td>
			</tr>
			<tr>
				<td>技术经验2:</td><td><span  th:text="${employee.skill2Years}" ></span></td>
			</tr>
			<tr>
				<td>技术经验3:</td><td><span  th:text="${employee.skill3Years}" ></span></td>
			</tr>
			<tr>
				<td>技术评星:</td><td><span  th:text="${employee.skillScore}"  ></span></td>
			</tr>
			<tr>
				<td>技术分析:</td><td><span  th:text="${employee.skillAnalysis}" ></span></td>
			</tr>
			<tr>
				<td>技术发展:</td><td><span  th:text="${employee.skillGrowth}"  ></span></td>
			</tr>
			<tr>
				<td>口座銀行:</td><td><span   th:text="${employee.bankName}"></span></td>
			</tr>
			<tr>
				<td>口座支店:</td><td><span   th:text="${employee.branchBank}"></span></td>
			</tr>
			<tr>
				<td>口座番号:</td><td><span   th:text="${employee.bankNumber}" ></span></td>
			</tr>
			<tr>
				<td>口座備考:</td><td><span   th:text="${employee.bankNumber}"></span></td>
			</tr>
			<tr>
				<td>国内住所:</td><td><span   th:text="${employee.domesticAddress}"></span></td>
			</tr>
			<tr>
				<td>扶養家族人数:</td><td><span    th:text="${employee.familySupport}"></span></td>
			</tr>
			<tr>
				<td>契約形式:</td><td><span   th:text="${employee.contractFormat}" ></span></td>
			</tr>
			<tr>
				<td>雇用保険加入:</td><td><span   th:text="${employee.employmentInsurance}" ></span></td>
			</tr>
			<tr>
				<td>年金加入:</td><td><span   th:text="${employee.annuity}" ></span></td>
			</tr>
			<tr>
				<td>健康保险加入:</td><td><span   th:text="${employee.healthInsurance}" ></span></td>
			</tr>
	
			<!-- <tr>
				<td>入社日期:</td><td><span type="date" name="expectEnterDate"  ></td>
			</tr> -->
			<!-- <tr>
				<td>入場日期:</td><td><span type="date" name="enterDate"  ></td>
			</tr> -->
			<!-- <tr>
				<td>現場終了日期:</td><td><span type="date" name="endDate" ></td>
			</tr>	 -->	
			<!--  <tr>
				<td>場所:</td><td><span  name="employeeSiteId"  th:text="${employeeSite.employeeSiteId}"></td>
			</tr>-->
			<!-- <tr>
				<td>お客様:</td><td><span  name="projectId"  placeholder="哪位客户?"></td>
			</tr> -->
			<tr>
				<td>営業担当:</td><td><span    th:text="${employeeSite.salesStaff}"></span></td>
			</tr>
			<tr>
				<td>営業連絡先:</td><td><span  th:text="${employeeSite.salesContact}" ></span></td>
			</tr>
			<tr>
				<td>営業メール:</td><td><span   th:text="${employeeSite.salesEmail}" ></span></td>
			</tr>
			<tr>
				<td>事務担当:</td><td><span  th:text="${employeeSite.officeClerk}" ></span></td>
			</tr>
			<tr>
				<td>事務メール:</td><td><span   th:text="${employeeSite.officeEmail}" ></span></td>
			</tr>
			<tr>
				<td>精算範囲:</td><td><span  th:text="${employeeSite.settlementRange}" ></span></td>
			</tr>
		<!-- --------------------- -->	
			<tr>
				<td>単価:</td><td><span  th:text="${employeeSite.unitPrice}" ></span></td>
			</tr>
			<tr>
				<td>日本語レベル:</td><td><span    th:text="${employee.JapaneseLevel}" /></span></td>
			</tr>
			<tr>
				<td>技術レベル:</td><td><span   th:text="${employee.skillLevel}" ></span></td>
			</tr>
			<tr>
				<td>注文書（PDF/原本）:</td><td><span  th:text="${employeeSite.purchaseOrderFile}"></span></td>
			</tr>
			<tr>
				<td>請求書（PDF/原本）:</td><td><span  th:text="${employeeSite.invoiceFile}" ></span></td>
			</tr>
			<tr>
				<td>支払いサイト:</td><td><span  th:text="${employeeSite.paymentSite}" ></span></td>
			</tr>
			<tr>
				<td>本社事務担当:</td><td><span  th:text="${employeeSite.headOfficeClerk}"></span></td>
			</tr>
			<tr>
				<td>備考:</td><td><span  th:text="${employeeSite.description}"></span></td>
			</tr>
			<!-- <tr>
				<td>现场入场日期:</td><td><span type="date" name="createTime"  ></td>
			</tr> -->
			<tr>
				<td>现场入场相关记录:</td><td><span th:text="${employeeSite.enterRecord}"></span></td>
			</tr>
			<tr>
				<td>带入场担当:</td><td><span  ></span></td>
			</tr>
			<tr>
				<td>是否需要营业:</td><td><span   th:text="${employeeSite.isNeedSalesStaff}"></span></td>
			</tr>
		</table>
	 	<a id="btnBack" class="layui-btn layui-btn-normal" th:href="@{/emp/list}">返回</a>
	</form>
</body>
</html>