table{
	    border: 1px solid #cccccc;
    width: 90%;
    background-color: #fff;
}

th,tr,td{
	border: solid 1px #cccccc;
}

th{
	font-weight: bold;
    color: #1c94c4;
    border: 1px solid #cccccc;
}