.label{
    float: left;
    height: 38px;
    line-height: 38px;
    width: 7%;
    padding-right: 1%;
    text-align: right;
}
.clear{
	clear:both;
}
.input_width{
	width:86%;
}

.label2{
    float: left;
    width: 7%;
    padding-right: 1%;
    text-align: right;
}
.label1{
    float: left;
    width: 7%;
    padding-right: 1%;
    text-align: right;
}

.div_marin_top{
	margin-top: 5px;
}

.send_button{
	height: 30px;
    line-height: 30px;
}
.div_table{
	padding-left:8%;
}
#sendername{
	float: left;
    width: 7%;
    padding-right: 1%;
    text-align: right;
}
