<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>请求书修改</title>
<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}"  media="all">
    <link rel="stylesheet" th:href="@{/css/ui.jqgrid.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.8.16.custom.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jqGrid.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/i18n/grid.locale-ja.js}"></script>
    <style> .ui-jqgrid tr.jqgrow td { white-space: normal !important; height:auto; }</style>
</head>
<body>
<script type="text/javascript">
function CheckCustomer(){
	var customerId = $("#customerId").val();
	console.log(customerId);
	  //ajax开始
	  $.ajax({
		  type: "Post",//请求形式
	      url: "http://localhost:8080/document/checkCustomer/",//处理文件路径
	      data: {
	    	  customerId : customerId //需要传递的参数
	    	  },
	      cache: false,
	      async: false,//是否异步
	      dataType: "text",//返回的数据类型 
	      success: function (data) {
	    	  var textId=$("#customer");
	    	  textId.val(data);
	    	  },
	    	  error: function () {
	    	  }
	    	  })//end ajax
	   }
</script>

<h2>请求书修改</h2>
<a href="javascript:" class="layui-btn layui-btn-normal" onclick="self.location=document.referrer;">返回</a>

<form class="form-empl" id="addepst" th:action="@{/document/editinvoice/}+${id}" method="POST">
		<table>
			<tr>
				<td>客户公司ID</td>
				<td width="400"><input type="text"  class="layui-input" name="customerId" id="customerId" 
				onblur="CheckCustomer()" th:placeholder="${documentInvoice.customerId}"></td>
				<td><input type="text" class="layui-input" name="customer" id="customer"  placeholder="客户信息"></td>
			</tr>
				
			<tr>
				<td>客户负责人</td>
				<td width="400"><input type="text"  class="layui-input" name="customerCharge" id="customerCharge"
				th:placeholder="${documentInvoice.customerCharge}"></td>
			</tr>
			
			<tr>
				<td>自社ID</td>
				<td><select id="companyId" name="companyId"></select></td>
				<td><input type="text" style="display:none;" th:value= ${documentInvoice.companyId} id ="companyIdValue"></td>
			</tr>
			<tr>
				<td>付款期限</td>
				<td width="400"><input type="date"  class="layui-input" name="payDeadline"
				th:placeholder="${documentInvoice.payDeadline}"></td>
			</tr>
			
		</table>
		<button id="submit" type="submit" class="layui-btn">提交</button>
	</form> 
	<script type="text/javascript" th:src="@{/js/layui.js}"></script>
	<script type="text/javascript" th:src="@{/js/pages/document/editinvoice.js}"></script>
</body>
</html>