<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>add info</title>
</head>
<body>
<div>
	<a href="hrIndex">回到主页</a>
</div>
<div>
	<form action="/hr/addInfoCommit" method="post">
		<table>
			<tr>
				<th colspan="3" align="center">面试人员信息添加</th>
			</tr>
			<tr>
				<td>面试人员编号:</td><td><input type="text" name="interviewerCode" th:value="${code}" readonly="readonly"></td><td></td>
			</tr>
			<tr>
				<td>姓名:</td><td><input type="text" name="interviewerName"></td><td></td>
			</tr>
			<tr>
				<td>面情结果:</td>
				<td>
					<select name="interviewResult">
						<option value="-1"></option>
						<option value="0">不合格</option>
						<option value="1">合格</option>
					</select>
				<td>（1面，2面，3面任何一个为NG的时候，可以设置为不合格）</td>
			</tr>
			<tr>
				<td>1面的时间:</td><td><input type="date" name="interview1Time"></td><td></td>
			</tr>
			<tr>
				<td>1面结果:</td>
				<td>
					<select name="interview1Result">
						<option value="-1"></option>
						<option value="0">不合格</option>
						<option value="1">合格</option>
					</select>
				<td></td>
			</tr>
			<tr>
				<td>1面担当:</td><td><input type="text" name="interview1Handler"></td><td></td>
			</tr>
			<tr>
				<td>性别:</td>
				<td>
					<select name="gender">
						<option value="0">女</option>
						<option value="1">男</option>
					</select>
				<td></td>
			</tr>
			<tr>
				<td>年龄:</td><td><input type="text" name="age" value="1"></td><td>岁</td>
			</tr>
			<tr>
				<td>城市:</td><td><input type="text" name="city"></td><td></td>
			</tr>
			<tr>
				<td>日语分数:</td><td><input type="text" name="japaneseSocre" value="0"></td><td></td>
			</tr>
			<tr>
				<td>日语会话能力:</td><td><input type="text" name="japaneseConversationAbility"></td><td></td>
			</tr>
			<tr>
				<td>毕业大学:</td><td><input type="text" name="graduatedSchool"></td><td></td>
			</tr>
			<tr>
				<td>专业:</td><td><input type="text" name="profession"></td><td></td>
			</tr>
			<tr>
				<td>毕业日期:</td><td><input type="date" name="graduatedDate"></td><td></td>
			</tr>
			<tr>
				<td>学历:</td>
				<td>
					<select name="education">
						<option value="-1"></option>
						<option value="0">大专</option>
						<option value="1">本科</option>
						<option value="2">硕士</option>
						<option value="3">博士</option>
					</select>
				<td></td>
			</tr>
			<tr>
				<td>资格证书:</td><td><input type="text" name="certificate"></td><td></td>
			</tr>
			<tr>
				<td>マナー:</td><td>
					<select name="manner">
						<option value="-1"></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				<td>（1-5分）</td>
			</tr>
			<tr>
				<td>人事部意见:</td><td><textarea name="personnelDeptFeedback"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>1面备注:</td><td><textarea name="interview1Desc"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>个人情况:</td><td><input type="text" name="personalSituation"></td><td> </td>
			</tr>
			<tr>
				<td>家庭情况:</td><td><input type="text" name="familySituation"></td><td> </td>
			</tr>
			<tr>
				<td>在职情况:</td>
				<td>
					<select name="serviceSituation">
						<option value="-1"></option>
						<option value="0">离职</option>
						<option value="1">在职</option>
					</select>
				</td><td> </td>
			</tr>
			<tr>
				<td>民    族:</td><td><input type="text" name="nationality"></td><td> </td>
			</tr>
			<tr>
				<td>籍    贯:</td><td><input type="text" name="birthplace"></td><td> </td>
			</tr>
			<tr>
				<td>婚姻状况:</td>
				<td>
					<select name="maritalStatus">
						<option value="-1"></option>
						<option value="0">未婚</option>
						<option value="1">已婚</option>
					</select>
				</td><td> </td>
			</tr>
			<tr>
				<td>期望薪资:</td><td><input type="text" name="expectSalary" value="0"></td><td> </td>
			</tr>
			<tr>
				<td>在日朋友关系情况:</td><td><input type="text" name="friendshipSituationInJapan"></td><td> </td>
			</tr>
			<tr>
				<td>2面时间:</td><td><input type="date" name="interview2Time"></td><td> </td>
			</tr>
			<tr>
				<td>2面结果:</td>
				<td>
					<select name="interview2Result">
						<option value="-1"></option>
						<option value="0">不合格</option>
						<option value="1">合格</option>
					</select>
				</td><td> </td>
			</tr>
			<tr>
				<td>2面担当:</td><td><input type="text" name="interview2Handler"></td><td> </td>
			</tr>
			<tr>
				<td>2面备注:</td><td><textarea name="interview2Desc"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>实际工作年数以及经验能力:</td><td><input type="text" name="workingSituation"></td><td> </td>
			</tr>
			<tr>
				<td>实习经验:</td><td><textarea name="internshipExperience"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>技术分数:</td><td><input type="text" name="skillScore" value="0"></td><td> </td>
			</tr>
			
			<tr>
				<td>技术部意见:</td><td><textarea name="technicalDepartmentFeedback"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>3面时间:</td><td><input type="date" name="interview3Time"></td><td> </td>
			</tr>
			<tr>
				<td>3面结果:</td>
				<td>
					<select name="interview3Result">
						<option value="-1"></option>
						<option value="0">不合格</option>
						<option value="1">合格</option>
					</select>
				</td><td> </td>
			</tr>
			<tr>
				<td>3面担当:</td><td><input type="text" name="interview3Handler"></td><td> </td>
			</tr>
			<tr>
				<td>3面备注:</td><td><input type="text" name="interview3Desc"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司1:</td><td><input type="text" name="prev1CompanyName"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司2:</td><td><input type="text" name="prev2CompanyName"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司3:</td><td><input type="text" name="prev3CompanyName"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司4:</td><td><input type="text" name="prev4CompanyName"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司5:</td><td><input type="text" name="prev5CompanyName"></td><td> </td>
			</tr>
			<tr>
				<td>工作意向:</td>
				<td>
					<select name="workIntent">
						<option value="-1"></option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</td><td></td>
			</tr>
			<tr>
				<td>招入公司id:</td>
				<td>
					<select name="companyId">
						<option th:each="com : ${company}" th:value="${com.companyId}" th:text="${com.companyName}"></option>
					</select>
				<td></td>
			</tr>
			<tr>
				<td>是否已删除:</td>
				<td>
					<select name="deleteFlag">
						<option value="0" selected="selected">未删除</option>
						<option value="1">已删除</option>
					</select>
				</td><td></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="保存" style="width: 100px;"></td><td></td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>