<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>hr index</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/ui.jqgrid.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.8.16.custom.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.jqGrid.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/i18n/grid.locale-ja.js}"></script>
</head>
<body>
<div>
	<h1>hr管理主页</h1>
</div>

<div>
	<span>
		<span>查询方式：</span>
		<select id="searchMethod">
			<option value="0">面试人员姓名</option>
			<option value="1">1面时间</option>
			<option value="2">面试担当</option>
		</select>
	</span>
	<span> : </span>
	<input id="search" type="text">
	<button id="btnSearch" class="layui-btn" onclick="BF.searchData();">搜索</button>
</div>

<div>
	<a id="btnAdd" class="layui-btn" th:href="@{interviewerInfoAdd}">添加面试人员</a>
	<a id="btnVisaLogin" class="layui-btn" th:href="@{visaLogin}">签证办理登入</a>
	<a id="btnItSuitableLogin" class="layui-btn" th:href="@{itSuitableLogin}">it适性试验登入</a>
	<button id="btnSelect" class="layui-btn" onclick="BF.selectData()">查询</button>
	<button id="btnModify" class="layui-btn" onclick="BF.modifyData()">修改</button>
</div>

<table id="jqGrid"></table>
<div id="jqGridPager"></div>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	var  ctxPath = /*[[@{/}]]*/ '';
	 /*]]>*/
</script>　

<script type="text/javascript" th:src="@{/js/pages/hrmanage/hrIndex.js}"></script>

</body>
</html>