<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>add info</title>
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/layui.css}">
</head>
<body>
<div>
	<form action="#" th:action="@{/hr/interviewerInfoAddDo}" method="post" th:object="${interviewerInfoForm}">
		<table>
			<tr>
				<th colspan="3" align="center">面试人员信息添加</th>
			</tr>
			<tr>
				<td>面试人员编号:</td><td><input type="text" th:field="*{interviewerCode}" readonly="readonly"></td><td></td>
			</tr>
			<tr>
				<td>姓名:</td><td><input type="text" th:field="*{interviewerName}"></td><td></td>
			</tr>
			<tr>
				<td>面情结果:</td>
				<td>
					<select th:field="*{interviewResult}">
						<option value="0"></option>
						<option value="1">不合格</option>
						<option value="2">合格</option>
					</select>
				<td>（1面，2面，3面任何一个为NG的时候，可以设置为不合格）</td>
			</tr>
			<tr>
				<td>1面的时间:</td><td><input type="date" th:field="*{interview1Time}"></td><td></td>
			</tr>
			<tr>
				<td>1面结果:</td>
				<td>
					<select th:field="*{interview1Result}">
						<option value="0"></option>
						<option value="1">不合格</option>
						<option value="2">合格</option>
					</select>
				<td></td>
			</tr>
			<tr>
				<td>1面担当:</td><td><input type="text" th:field="*{interview1Handler}"></td><td></td>
			</tr>
			<tr>
				<td>性别:</td>
				<td>
					<select th:field="*{gender}">
						<option value="0">女</option>
						<option value="1">男</option>
					</select>
				<td></td>
			</tr>
			<tr>
				<td>年龄:</td><td><input type="text" th:field="*{age}" value="1"></td><td>岁</td>
			</tr>
			<tr>
				<td>城市:</td><td><input type="text" th:field="*{city}"></td><td></td>
			</tr>
			<tr>
				<td>日语分数:</td><td><input type="text" th:field="*{japaneseSocre}" value="0"></td><td></td>
			</tr>
			<tr>
				<td>日语会话能力:</td><td><input type="text" th:field="*{japaneseConversationAbility}"></td><td></td>
			</tr>
			<tr>
				<td>毕业大学:</td><td><input type="text" th:field="*{graduatedSchool}"></td><td></td>
			</tr>
			<tr>
				<td>专业:</td><td><input type="text" th:field="*{profession}"></td><td></td>
			</tr>
			<tr>
				<td>毕业日期:</td><td><input type="date" th:field="*{graduatedDate}"></td><td></td>
			</tr>
			<tr>
				<td>学历:</td>
				<td>
					<select th:field="*{education}">
						<option value="0"></option>
						<option value="1">大专</option>
						<option value="2">本科</option>
						<option value="3">硕士</option>
						<option value="4">博士</option>
					</select>
				<td></td>
			</tr>
			<tr>
				<td>资格证书:</td><td><input type="text" th:field="*{certificate}"></td><td></td>
			</tr>
			<tr>
				<td>マナー:</td><td>
					<select th:field="*{manner}">
						<option value="0"></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				<td>（1-5分）</td>
			</tr>
			<tr>
				<td>人事部意见:</td><td><textarea th:field="*{personnelDeptFeedback}"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>1面备注:</td><td><textarea th:field="*{interview1Desc}"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>个人情况:</td><td><input type="text" th:field="*{personalSituation}"></td><td> </td>
			</tr>
			<tr>
				<td>家庭情况:</td><td><input type="text" th:field="*{familySituation}"></td><td> </td>
			</tr>
			<tr>
				<td>在职情况:</td>
				<td>
					<select th:field="*{serviceSituation}">
						<option value="0"></option>
						<option value="1">离职</option>
						<option value="2">在职</option>
					</select>
				</td><td> </td>
			</tr>
			<tr>
				<td>民    族:</td><td><input type="text" th:field="*{nationality}"></td><td> </td>
			</tr>
			<tr>
				<td>籍    贯:</td><td><input type="text" th:field="*{birthplace}"></td><td> </td>
			</tr>
			<tr>
				<td>婚姻状况:</td>
				<td>
					<select th:field="*{maritalStatus}">
						<option value="0"></option>
						<option value="1">未婚</option>
						<option value="2">已婚</option>
					</select>
				</td><td> </td>
			</tr>
			<tr>
				<td>期望薪资:</td><td><input type="text" th:field="*{expectSalary}" value="0"></td><td> </td>
			</tr>
			<tr>
				<td>在日朋友关系情况:</td><td><input type="text" th:field="*{friendshipSituationInJapan}"></td><td> </td>
			</tr>
			<tr>
				<td>2面时间:</td><td><input type="date" th:field="*{interview2Time}"></td><td> </td>
			</tr>
			<tr>
				<td>2面结果:</td>
				<td>
					<select th:field="*{interview2Result}">
						<option value="0"></option>
						<option value="1">不合格</option>
						<option value="2">合格</option>
					</select>
				</td><td> </td>
			</tr>
			<tr>
				<td>2面担当:</td><td><input type="text" th:field="*{interview2Handler}"></td><td> </td>
			</tr>
			<tr>
				<td>2面备注:</td><td><textarea th:field="*{interview2Desc}"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>实际工作年数以及经验能力:</td><td><input type="text" th:field="*{workingSituation}"></td><td> </td>
			</tr>
			<tr>
				<td>实习经验:</td><td><textarea th:field="*{internshipExperience}"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>技术分数:</td><td><input type="text" th:field="*{skillScore}" value="0"></td><td> </td>
			</tr>
			
			<tr>
				<td>技术部意见:</td><td><textarea th:field="*{technicalDepartmentFeedback}"></textarea></td><td> </td>
			</tr>
			<tr>
				<td>3面时间:</td><td><input type="date" th:field="*{interview3Time}"></td><td> </td>
			</tr>
			<tr>
				<td>3面结果:</td>
				<td>
					<select th:field="*{interview3Result}">
						<option value="0"></option>
						<option value="1">不合格</option>
						<option value="2">合格</option>
					</select>
				</td><td> </td>
			</tr>
			<tr>
				<td>3面担当:</td><td><input type="text" th:field="*{interview3Handler}"></td><td> </td>
			</tr>
			<tr>
				<td>3面备注:</td><td><input type="text" th:field="*{interview3Desc}"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司1:</td><td><input type="text" th:field="*{prev1CompanyName}"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司2:</td><td><input type="text" th:field="*{prev2CompanyName}"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司3:</td><td><input type="text" th:field="*{prev3CompanyName}"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司4:</td><td><input type="text" th:field="*{prev4CompanyName}"></td><td> </td>
			</tr>
			<tr>
				<td>就职公司5:</td><td><input type="text" th:field="*{prev5CompanyName}"></td><td> </td>
			</tr>
			<tr>
				<td>工作意向:</td>
				<td>
					<select th:field="*{workIntent}">
						<option value="0"></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
				</td><td></td>
			</tr>
			<tr>
				<td>招入公司id:</td>
				<td>
					<select th:field="*{companyId}">
						<option th:each="com : ${company}" th:value="${com.companyId}" th:text="${com.companyName}"></option>
					</select>
				<td></td>
			</tr>
			<tr>
				<td>是否已删除:</td>
				<td>
					<select th:field="*{deleteFlag}">
						<option value="0" selected="selected">未删除</option>
						<option value="1">已删除</option>
					</select>
				</td><td></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" value="保存" style="width: 100px;"></td><td></td>
			</tr>
		</table>
	</form>
</div>
</body>
</html>