<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>updateInfo</title>
</head>
	<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/layui.css}">
<body>
<div><a th:href="@{hrIndex}">返回首页</a></div>
<form class="layui" action="#" th:action="@{/hr/updateInfoDo}" method="post" th:object="${detailInfo}">
	<table>
		<tr>
			<td><input type="hidden" th:field="*{interviewerId}" th:value="${detailInfo.interviewerId}"></td>
		</tr>
		<tr>
			<td>面试人员编号:</td><td><input type="text" th:field="*{interviewerCode}" th:value="${detailInfo.interviewerCode}" readonly="readonly"></td><td></td>
		</tr>
		<tr>
			<td>姓名:</td><td><input type="text" th:field="*{interviewerName}" th:value="${detailInfo.interviewerName}"></td><td></td>
		</tr>
		<tr>
			<td>面情结果:</td>
			<td>
				<select th:field="*{interviewResult}" th:value="${detailInfo.interviewResult}">
					<option value="0"></option>
					<option value="1">不合格</option>
					<option value="2">合格</option>
				</select>
			<td>（1面，2面，3面任何一个为NG的时候，可以设置为不合格）</td>
		</tr>
		<tr>
			<td>1面的时间:</td><td><input type="date" th:field="*{interview1Time}" th:value="${detailInfo.interview1Time}"></td><td></td>
		</tr>
		<tr>
			<td>1面结果:</td>
			<td>
				<select th:field="*{interview1Result}">
					<option value="0"></option>
					<option value="1">不合格</option>
					<option value="2">合格</option>
				</select>
			<td></td>
		</tr>
		<tr>
			<td>1面担当:</td><td><input type="text" th:field="*{interview1Handler}" th:value="${detailInfo.interview1Handler}"></td><td></td>
		</tr>
		<tr>
			<td>性别:</td>
			<td>
				<select th:field="*{gender}">
					<option value="0">女</option>
					<option value="1">男</option>
				</select>
			<td></td>
		</tr>
		<tr>
			<td>年龄:</td><td><input type="text" th:field="*{age}" th:value="${detailInfo.age}"></td><td>岁</td>
		</tr>
		<tr>
			<td>城市:</td><td><input type="text" th:field="*{city}" th:value="${detailInfo.city}"></td><td></td>
		</tr>
		<tr>
			<td>日语分数:</td><td><input type="text" th:field="*{japaneseSocre}" th:value="${detailInfo.japaneseSocre}"></td><td></td>
		</tr>
		<tr>
			<td>日语会话能力:</td><td><input type="text" th:field="*{japaneseConversationAbility}" th:value="${detailInfo.japaneseConversationAbility}"></td><td></td>
		</tr>
		<tr>
			<td>毕业大学:</td><td><input type="text" th:field="*{graduatedSchool}" th:value="${detailInfo.graduatedSchool}"></td><td></td>
		</tr>
		<tr>
			<td>专业:</td><td><input type="text" th:field="*{profession}" th:value="${detailInfo.profession}"></td><td></td>
		</tr>
		<tr>
			<td>毕业日期:</td><td><input type="date" th:field="*{graduatedDate}" th:value="${detailInfo.graduatedDate}"></td><td></td>
		</tr>
		<tr>
			<td>学历:</td>
			<td>
				<select th:field="*{education}">
					<option value="0"></option>
					<option value="1">大专</option>
					<option value="2">本科</option>
					<option value="3">硕士</option>
					<option value="4">博士</option>
				</select>
			<td></td>
		</tr>
		<tr>
			<td>资格证书:</td><td><input type="text" th:field="*{certificate}" th:value="${detailInfo.certificate}"></td><td></td>
		</tr>
		<tr>
			<td>マナー:</td><td>
				<select th:field="*{manner}">
					<option value="0"></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			<td>（1-5分）</td>
		</tr>
		<tr>
			<td>人事部意见:</td><td><textarea th:field="*{personnelDeptFeedback}" th:value="${detailInfo.personnelDeptFeedback}"></textarea></td><td> </td>
		</tr>
		<tr>
			<td>1面备注:</td><td><textarea th:field="*{interview1Desc}" th:value="${detailInfo.interview1Desc}"></textarea></td><td> </td>
		</tr>
		<tr>
			<td>个人情况:</td><td><input type="text" th:field="*{personalSituation}" th:value="${detailInfo.personalSituation}"></td><td> </td>
		</tr>
		<tr>
			<td>家庭情况:</td><td><input type="text" th:field="*{familySituation}" th:value="${detailInfo.familySituation}"></td><td> </td>
		</tr>
		<tr>
			<td>在职情况:</td>
			<td>
				<select th:field="*{serviceSituation}">
					<option value="0"></option>
					<option value="1">离职</option>
					<option value="2">在职</option>
				</select>
			</td><td> </td>
		</tr>
		<tr>
			<td>民    族:</td><td><input type="text" th:field="*{nationality}" th:value="${detailInfo.nationality}"></td><td> </td>
		</tr>
		<tr>
			<td>籍    贯:</td><td><input type="text" th:field="*{birthplace}" th:value="${detailInfo.birthplace}"></td><td> </td>
		</tr>
		<tr>
			<td>婚姻状况:</td>
			<td>
				<select th:field="*{maritalStatus}">
					<option value="0"></option>
					<option value="1">未婚</option>
					<option value="2">已婚</option>
				</select>
			</td><td> </td>
		</tr>
		<tr>
			<td>期望薪资:</td><td><input type="text" th:field="*{expectSalary}" th:value="${detailInfo.expectSalary}"></td><td> </td>
		</tr>
		<tr>
			<td>在日朋友关系情况:</td><td><input type="text" th:field="*{friendshipSituationInJapan}" th:value="${detailInfo.friendshipSituationInJapan}"></td><td> </td>
		</tr>
		<tr>
			<td>2面时间:</td><td><input type="date" th:field="*{interview2Time}" th:value="${detailInfo.interview2Time}"></td><td> </td>
		</tr>
		<tr>
			<td>2面结果:</td>
			<td>
				<select th:field="*{interview2Result}">
					<option value="0"></option>
					<option value="1">不合格</option>
					<option value="2">合格</option>
				</select>
			</td><td> </td>
		</tr>
		<tr>
			<td>2面担当:</td><td><input type="text" th:field="*{interview2Handler}" th:value="${detailInfo.interview2Handler}"></td><td> </td>
		</tr>
		<tr>
			<td>2面备注:</td><td><textarea th:field="*{interview2Desc}" th:value="${detailInfo.interview2Desc}"></textarea></td><td> </td>
		</tr>
		<tr>
			<td>实际工作年数以及经验能力:</td><td><input type="text" th:field="*{workingSituation}" th:value="${detailInfo.workingSituation}"></td><td> </td>
		</tr>
		<tr>
			<td>实习经验:</td><td><textarea th:field="*{internshipExperience}" th:value="${detailInfo.internshipExperience}"></textarea></td><td> </td>
		</tr>
		<tr>
			<td>技术分数:</td><td><input type="text" th:field="*{skillScore}" th:value="${detailInfo.skillScore}"></td><td> </td>
		</tr>
		
		<tr>
			<td>技术部意见:</td><td><textarea th:field="*{technicalDepartmentFeedback}" th:value="${detailInfo.technicalDepartmentFeedback}"></textarea></td><td> </td>
		</tr>
		<tr>
			<td>3面时间:</td><td><input type="date" th:field="*{interview3Time}" th:value="${detailInfo.interview3Time}"></td><td> </td>
		</tr>
		<tr>
			<td>3面结果:</td>
			<td>
				<select th:field="*{interview3Result}">
					<option value="0"></option>
					<option value="1">不合格</option>
					<option value="2">合格</option>
				</select>
			</td><td> </td>
		</tr>
		<tr>
			<td>3面担当:</td><td><input type="text" th:field="*{interview3Handler}" th:value="${detailInfo.interview3Handler}"></td><td> </td>
		</tr>
		<tr>
			<td>3面备注:</td><td><input type="text" th:field="*{interview3Desc}" th:value="${detailInfo.interview3Desc}"></td><td> </td>
		</tr>
		<tr>
			<td>就职公司1:</td><td><input type="text" th:field="*{prev1CompanyName}" th:value="${detailInfo.prev1CompanyName}"></td><td> </td>
		</tr>
		<tr>
			<td>就职公司2:</td><td><input type="text" th:field="*{prev2CompanyName}" th:value="${detailInfo.prev2CompanyName}"></td><td> </td>
		</tr>
		<tr>
			<td>就职公司3:</td><td><input type="text" th:field="*{prev3CompanyName}" th:value="${detailInfo.prev3CompanyName}"></td><td> </td>
		</tr>
		<tr>
			<td>就职公司4:</td><td><input type="text" th:field="*{prev4CompanyName}" th:value="${detailInfo.prev4CompanyName}"></td><td> </td>
		</tr>
		<tr>
			<td>就职公司5:</td><td><input type="text" th:field="*{prev5CompanyName}" th:value="${detailInfo.prev5CompanyName}"></td><td> </td>
		</tr>
		<tr>
			<td>工作意向:</td>
			<td>
				<select th:field="*{workIntent}">
					<option value="0"></option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
				</select>
			</td><td></td>
		</tr>
		<tr>
			<td>招入公司id:</td>
			<td>
				<select th:field="*{companyId}">
					<option th:each="com : ${company}" th:value="${com.companyId}" th:text="${com.companyName}"></option>
				</select>
			<td></td>
		</tr>
		<tr>
			<td>是否已删除:</td>
			<td>
				<select th:field="*{deleteFlag}">
					<option value="0">未删除</option>
					<option value="1">已删除</option>
				</select>
			</td><td></td>
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="保存" style="width: 100px;"></td><td></td>
		</tr>
	</table>
</form>
</body>
</html>