<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>modify visa info</title>
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/layui.css}">
</head>
<body>
<div>
	<form action="#" th:action="@{/hr/visaInfoAddDo}" method="post" th:object="${visaHandleDTO}">
		<table border="1" style="border:1px solid black;">
		<tr>
			<th colspan="11">签证办理新规</th>
		</tr>
		<tr>
			<td>面试人员编号</td><td><input type="text" name="interviewerCode"></td>
		</tr>
		<tr>
			<td>邮寄情况</td>
			<td>
				<select th:field="*{mailingSituation}">
					<option value="0">未邮寄</option>
					<option value="1">邮寄中</option>
					<option value="2">已收到</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>材料准备情况</td>
			<td>
				<select th:field="*{materialPrepareSituation}">
					<option value="0">未准备</option>
					<option value="1">准备中</option>
					<option value="2">准备结束</option>
				</select>
		</tr>
		<tr>
			<td>申请材料是否已准备好</td>
			<td>
				<select th:field="*{applicationMaterial}">
					<option value="0">否</option>
					<option value="1">是</option>
				</select>
		</tr>
		<tr>
			<td>自译日文简历</td>
			<td>
				<select th:field="*{selfJapaneseResume}">
					<option value="0">没有</option>
					<option value="1">有</option>
				</select>
		</tr>
		<tr>
			<td>简历翻译检查</td>
			<td>
				<select th:field="*{checkResume}">
					<option value="0">未检查</option>
					<option value="1">已检查</option>
				</select>
		</tr>
		<tr>
			<td>预计递交日</td><td><input type="date" th:field="*{expectSubmitDate}"></td>
		</tr>
		<tr>
			<td>实际递交日</td><td><input type="date" th:field="*{actualSubmitDate}"></td>
		</tr>
		<tr>
			<td>签证办理担当</td><td><input type="text" th:field="*{visaHandleHandler}"></td>
		</tr>
		<tr>
			<td>赴日通知担当</td><td><input type="text" th:field="*{noticeHandler}"></td>
		</tr>
		<tr>
			<td>其他担当</td><td><input type="text" th:field="*{otherHandlerf}"></td>
		</tr>
		<tr>
			<td>备考</td><td><input type="text" th:field="*{description}"></td>
		</tr>
		<tr>
			<td><input type="submit" value="保存"></td><td></td>
		</tr>
	</table>
	</form>
</div>
	
	
	
	
</body>
</html>