<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>增加信息-员工学习</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}">
    
    </script>
    
    
</head>
<body>
	<h2>员工学习-添加</h2>
	<a href="javascript:" class="layui-btn layui-btn-normal" onclick="self.location=document.referrer;">返回</a>

	
	<script type="text/javascript">
	 function Check(){
		 debugger
		 var begin=document.getElementById("beginDate");
			console.log(begin.value);
			if(begin.value.length>0){
				document.getElementById("BeginDateText").style.display="none";
				console.log("输入合fa");
				document.getElementById('submit').disabled=false;
				document.getElementById('submit').className="layui-btn";
				}
			else{
				document.getElementById("BeginDateText").style.display="inline";
				document.getElementById('submit').disabled=true;
				document.getElementById('submit').className="layui-btn layui-btn-disabled";
				}
			}
	 
	 
	</script>
	<form class="form-empl" id="addepst" th:action="@{/epst/addepst}" method="POST">
		<table>
			<tr>
				<td>学习内容</td>
				<td width="400"><input type="text"  class="layui-input" name="studyContent"></td>
			</tr>
			<tr>
				<td>开始日期</td>
				<td width="400"><input type="date"  class="layui-input" name="beginDate" id="beginDate" onblur="Check()"></td>
				<td><div id="BeginDateText" style="color:#F00;display:none">开始时间不能为空</div></td>
			</tr>
			
			<tr>
				<td>学习时间</td>
				<td width="400"><input type="text"  class="layui-input" name="studyTime"></td>
			</tr>
			<tr>
				<td>负责人</td>
				<td width="400"><input type="text"  class="layui-input" name="handler" placeholder="负责人id" oninput="value=value.replace(/[^\d]/g,'')"></td>
			</tr>
			<tr>
				<td>学会内容</td>
				<td width="400"><input type="text"  class="layui-input" name="learnCotent"></td>
			</tr>
			<tr>
				<td>效果评价</td>
				<td width="400"><input type="text"  class="layui-input" name="evaluation" 
				placeholder="评分为1-5" oninput="value=value.replace(/[^\d]/g,'')"></td>
			</tr>
		</table>
		<button id="submit" type="submit" class="layui-btn layui-btn-disabled" disabled="disabled" >提交</button>
	</form> 
	
	<script type="text/javascript" th:src="@{/js/layui.js}"></script>
    <script src="/static/build/layui.js"></script>

</body>
</html>