<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>修改学习信息</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/layui.css}">
    <script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
</head>
<body>
<a id="btnBack" class="layui-btn" th:href="@{/epst/epstIndex}">《--返回</a>
	<h2>员工学习-修改</h2>
	
	<form class="form-empl" id="editepst" th:action="@{/epst/editepst}" method="POST" >
		<table>
			<tr>
				<td>员工ID</td>
				<td width="400"><input type="text"  class="layui-input" name="employeeId" ></td>
			</tr>
			<tr>
				<td>学习内容</td>
				<td width="400"><input type="text"  class="layui-input" name="studyContent" placeholder="${employeeStudy.studyContent}"></td>
			</tr>
			<tr>
				<td>开始日期</td>
				<td width="400"><input type="text"  class="layui-input" name="beginDate" id="beginDate"></td>
			</tr>
			<tr>
				<td>学习时间</td>
				<td width="400"><input type="text"  class="layui-input" name="studyTime"></td>
			</tr>
			<tr>
				<td>负责人</td>
				<td width="400"><input type="text"  class="layui-input" name="handler"></td>
			</tr>
			<tr>
				<td>学会内容</td>
				<td width="400"><input type="text"  class="layui-input" name="learnCotent"></td>
			</tr>
			<tr>
				<td>效果评价</td>
				<td width="400"><input type="text"  class="layui-input" name="evaluation"></td>
			</tr>
		</table>
		<input id="submit" type="submit" class="layui-btn">
	</form>
</body>
</html>